
// styling list items 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
// removing underlines of links
a {
    text-decoration: none;
}
// logos sizing and responsiveness
img {
    width: 100%;
}
// navigation bar settings
.navbar{
    background:white;

    a {
        color:rgb(0, 0, 0);

    }
}
// making header responsive
header {
    display: flex;
    justify-content: space-between;
    // white space around words
    padding: 2em;

    .logo {
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            // adding display block for padding to work
            display: block;
            padding: 0 0.5em;
        }
    }
    
}
.social-media {
    display: none;

}

/* Place copyright footer at the bottom of the page */
.footer {
    position: fixed;
    left: 0;
    bottom: 2px;
    width: 100%;
    background-color: none;
    color: black;
    text-align: center;
    font-size: 12px;
}
// footer styling

.footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4em;


    ul{
        display: flex;
        justify-content: center;
        width: 7em;
        
        
        
        img {
            width: 30px;
            padding: 0 4px;
            
           
        }
    }
}

@media screen and (min-width:623px) {
    .navbar{
        display: grid;
        grid-template-columns:99%;
     
        

    }
    header{
        padding: 2em 2em 2em 4em;
    }
}



