@import "./navbar";
// setting general pages parameters
body {
    height: 100%;
    font-family: 'poppins', sans-serif;
    background-image: url(/img/bgimage.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
}

// site container size 
.site-container{
    margin: 2rem auto;
    max-width: calc(100% -80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About me Card Styling */
.article-container {
    width: 600px;
    max-width: 800px;
    height: 300px;


}
.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
    height: 200px;

}
.article-image img{
    max-width: 100%;
    height: auto;
  

}
.article-card{
    background: white;
    transition: 0.3s;
}
// componnent styling effect 
.article-card:hover{
    box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
    
}
.article-content{
    padding: 2rem;
    padding-top: 1px;
}

.article-content .card-title {
    margin: 2rem 4;
    color: #9F97C8;
}
.article-content .card-excerpt {
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: black;
    margin-top: 0;
}
.studies-list, .awards-list{
    font-size: 13px;
    margin-top: 0;
}
h5{
    margin-bottom: 2px;
}
.card-title{
    margin-top: 0%;
}

