@import "./navbar";
// setting general pages parameters
body {
    height: 100%;
    font-family: 'poppins', sans-serif;
    background-image: url(/img/bgimage.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;
}

// site container size 
.site-container{
    margin: 2rem auto;
    max-width: calc(100% -80px);
}

/* Project Cards Styling */
.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px,1fr));
    gap: 2rem;
}
.article-image{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.article-image img{
    max-width: 100%;
    height: auto;

}
.article-card{
    background: white;
    transition: 0.3s;
}
.article-card:hover{
    box-shadow: 0 4px 20px 0 rgba(34,68,123,0.2);
    cursor: pointer;
}
.article-content{
    padding: 2rem;
}

.article-content .card-title {
    margin: 1rem 4;
    color: #9F97C8;
}
.article-content .card-excerpt {
    font-size: 1rem;
    line-height: 1.4rem;
    color: black;
}


// adding media querie to shift cards positions  for tablet and desktop
@media screen and(min-width: 768px){
    .site-container{
        max-width: 608;

    }
    .article-card {
        display: grid;
        grid-template-rows: 220px 1fr;
    }
}

@media screen and (min-width: 1280px){
    .site-container{
        max-width: 1156px;
        
    }
}